<div class="flex items-center justify-center p-8">
  <!-- Board container -->
  <div class="flex h-max w-[260px] flex-col">
    <!-- Crete TODO button -->
    <div
      role="button"
      class="mb-2 min-h-10 w-full rounded-xl border border-r border-slate-300 px-4 py-3 text-sm hover:bg-slate-100"
      (click)="addTodo()"
    >
      New Todo
    </div>

    <!-- TODOs list -->
    @for (item of todos; track $index) {
      <div
        role="button"
        class="mb-2 min-h-10 w-full rounded-xl border border-r border-slate-300 px-4 py-3 text-sm hover:bg-slate-100"
      >
        <div
          [id]="item.id"
          contenteditable="true"
          [attr.filled]="item.description !== '' ? 'true' : 'false'"
          placeholder="Type some todo task"
          (keydown)="updateDescription(item, $event)"
          (blur)="saveTodo(item)"
          class="w-full border-none outline-none"
        >
          {{ item.description }}
        </div>
      </div>
    }
  </div>
</div>
